* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.LOGIN, .REGISTER {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.Login, .Register {
  background-image: url('https://cpwebassets.codepen.io/assets/profile/profile-bg-7e5b92551f68bb55b638847ab4b3ced093fa6d3727e02083fdade22a2d4b07e2.svg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 15px;
  margin-top: 190px;
  margin-bottom: 50px;
}

.Login,.Register h1 {
  color: #717790;
  font-weight: bold;
}

.container-form {
  margin: 30px 0;
}

.container-form div {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}

.container-form div label {
  padding: 13px 0;
  font-size: 16px;
  color: #717790;
  font-weight: bold;
}

.container-form div input {
  outline: none;
  padding: 13px 10px;
  border-radius: 10px;
  border: 3px solid #717790;
  font-size: 16px;
  transition: .3s ease;
  background-color: #252830;
  color: #ffffff;
  font-weight: bold;
}

.container-form div input:focus {
  border: 3px solid #5a5f73;
  background-color: #363a46;
}
.container-form div input::placeholder {
  color: #717790;
}

/* .container-form .input-email {
  background-color: rgb(92, 65, 63);
}

.container-form .input-email label {
  padding: 10px;
}

.container-form .input-password {
  background-color: rgb(70, 28, 25);
} */
.container-form form .btn-login, .btn-register{
  background-color: #47cf73;
  border: none;
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: 'Comfortaa', cursive;
}

.question-text{
  font-weight: bold;
  color: #717790;
}
.question-text .register-link, .login-link{
  color: white;
}